@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { --background: #F4F7FD; --foreground: #111827; }
  .dark { --background: #0A0E21; --foreground: #F9FAFB; }
}
body {
  background-color: var(--background);
  color: var(--foreground);
}